<div class="setup">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">LRS Credentials</h1>

        <p>
            Provide an endpoint to the LRS you want to test
            and login credentials so that the suite can submit
            statements to the LRS.
        </p>
    </div>

    <div class="form-label-group">
        <input type="address" id="inputEndpoint" class="form-control" placeholder="LRS Endpoint" required="">
        <label for="inputEndpoint">LRS Endpoint</label>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputUsername" class="form-control" placeholder="LRS Username" required="" autofocus="">
        <label for="inputUsername">LRS Username</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="LRS Password" required="">
        <label for="inputPassword">Password</label>
    </div>

    <button id="buttonLogin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>

</div>
