.log-requirement {
    font-style: italic;
    text-align: left;
}

.log-name {
    text-align: left;
    width: 80%;
    margin-right: auto;
}

.log-toggle {
    position: absolute;
    right: 100px;
    top: 10px;
}

.log-container {
    width: 100%;
    height: 50%;
}

.log-entry {
    position: relative;
    width: 100%;
    padding: 10px;
}

.log-container {
    background-color: #696969;
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.log-scroll-container {
    height: 400px;
    width: 110%;
    overflow-y: scroll;
}

.log-template-holder {
    display: none;
}

.log-detail {
    text-align: left;
    margin-left: 20px;
    margin-top: -5px;
    margin-right: 20rem;
}
